<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="enter your username" name="username"> <br> <br>
        <textarea name="content" id="" placeholder="enter your content"></textarea><br> <br>
        <button>submit</button>
    </form>

</body>
</html>