<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>see your post</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>see your post</h1>

    <h3 class="username">your id is: <%= postid.id %></h3>
    <div class="postcontent">
      <h3 class="username">@<%= postid.username %>!!</h3>
      <h4 class="content"><%= postid.content %></h4>
    </div>
  </body>
</html>
